<h1>CONDICIONES GENERALES DE USO DE LA PÁGINA WEB</h1>
<p>
1.- Consideraciones Previas.
Las presentes condiciones legales regulan el uso legal permitido de esta página web, cuyo responsable legal es BY BIKE DEPORTE OCIO Y CULTURA S.L. Estas condiciones generales regulan el acceso y utilización que el titular de la web pone gratuitamente a disposición de los usuarios de Internet. El acceso a la misma implica su aceptación sin reservas. El solicitar información o emitir un pedido, supone la aceptación plena de las presentes condiciones.

2.- Uso de la Página Web.
El Usuario se obliga a usar la web, los Servicios y los Contenidos de forma diligente, correcta y lícita y, en particular, se compromete a abstenerse de: suprimir, eludir o manipular el "copyright" y demás datos identificativos de los derechos de sus titulares incorporados a los Contenidos, así como los dispositivos técnicos de protección, o cualesquiera mecanismos de información que pudieren contener los Contenidos.

3.- Registro.
Para participar en el “Foro de Consultas” que la empresa responsable de la página web pone a disposición del USUARIO es necesario que éste se registre previamente. El registro supondrá el consentimiento expreso de la Política de Protección de Datos de la página web.

4.- Propiedad Intelectual e industrial.
Los textos, imágenes, logos, signos distintivos, sonidos, animaciones, vídeos, código fuente y resto de contenidos incluidos en este website son propiedad de BY BIKE DEPORTE OCIO Y CULTURA S.L. o dispone en su caso, del derecho de uso y explotación de los mismos, y en tal sentido se erigen como obras protegidas por la legislación de propiedad intelectual e industrial vigentes.
Cualquier transmisión, distribución, reproducción o almacenamiento, total o parcial, de los contenidos almacenados en esta web, queda expresamente prohibido salvo previo y expreso consentimiento del titular. No obstante, los usuarios podrán llevar a cabo la reproducción o almacenamiento de los contenidos del website para su exclusivo uso personal, quedando expresa y terminantemente prohibida la reproducción de elementos o contenidos de este website, realizados con ánimo de lucro o fines comerciales.

5.- Condiciones de Acceso.
BY BIKE DEPORTE OCIO Y CULTURA S.L, se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones de la información contenida en la Web, de la configuración y presentación de ésta, de las condiciones de acceso, condiciones de contratación. etc. Por lo que el USUARIO deberá acceder a versiones actualizadas de la página.
La empresa responsable de la web no garantiza la inexistencia de interrupciones o errores en el acceso a la página o a su contenido, ni que ésta se encuentre actualizada o libre de virus, ni de cualquier otro elemento en la que puedan producir alteraciones en su sistema informático. BY BIKE DEPORTE OCIO Y CULTURA S.L, declina cualquier responsabilidad contractual o extracontractual con la persona o empresa que haga uso de ella y tuviera perjuicios de cualquier naturaleza ocasionados por virus informáticos o por elementos informáticos de cualquier índole.
El titular de la web no responderá de ninguna consecuencia, daño o perjuicio que pudieran derivarse del uso no consentido de la información contenida en la misma, o de los derivados de los servicios, opiniones y consejos incluidos en nuestra página web.

6.- Responsabilidad por Links.
La empresa responsable de la página web, declina cualquier responsabilidad por los servicios y/o información que se preste en otras páginas enlazadas con esta Web. BY BIKE DEPORTE OCIO Y CULTURA S.L: no controla ni ejerce ningún tipo de supervisión cuando incluye el link a las mismas, con la creencia de que estos contenidos acatan la legislación aplicable. No obstante, la utilización de Links a otras páginas no supone en modo alguno responsabilidad ni apropiación del contenido de las mismas, sin que se pueda entender que se produce labor alguna de supervisión ni aprobación de los cambios o informaciones que se realicen en ellas. Aconsejamos a los visitantes de las mismas actuar con prudencia y consultar las eventuales condiciones legales que se expongan en dichas webs.

7.- Lugar del Contrato y Fuero aplicable.
BY BIKE DEPORTE OCIO Y CULTURA S.L y el usuario, se someten a la jurisdicción de los Juzgados y Tribunales de la ciudad de Madrid (España), para cualquier controversia que pudiera derivarse del acceso, o uso de esta página web, entendiéndose celebrado el presente contrato electrónico en la ciudad de Madrid.
</p>
