<b><p>Ticket</p></b>
<b>Usuario</b> <%= @ticket.user.name %><br>
<b>Titulo </b> <%= @ticket.titulo %><br>
<b>Contenido</b> <%= @ticket.contenido %>
<br><br>
<h1>Nuevo comentario </h1>
<%= render 'form' %>